:root {
--heavydark: #483434;
--lightdark: #6B4F4F;
--heavylight: #EED6C4;
--light: #FFF3E4;
}

#mainNav {
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    background-color: var(--lightdark);
    opacity: 0.95;
    height: 12vh;
}


.nav-link {
    font-family: 'Sarabun', sans-serif;
    font-size: 1.2vw;
    color: var(--light);
    padding-right: 25px;
}

.navbar-brand {
    color: var(--light);
    padding: 20px 25px 25px 25px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 500;
}

#introduction {
    position: relative;
    padding: 0px;
    height: 20vh;
    min-height: 175px;
    color: var(--light);
    background-color: var(--heavylight);
    font-family: 'Sarabun', sans-serif;
}

.user-greeting {
    position: relative;
    text-align: right;
    padding-right: 5vw;
    color: var(--light);
    font-family: 'Sarabun', sans-serif;
    font-size: 1.5vw;
}

#introduction h1 {
    padding: 70px 5vw 10px 30px;
    font-family: 'Sarabun', sans-serif;
    font-size: 3.7vw;
    line-height: 2;
    font-weight: 500;
    color: var(--heavylight);
    text-align: left;
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/main_image_star-forming_region_carina_nircam_final-5mb.jpg");
    background-position: 5%;
}

.gallery-container {
    position: relative;
    padding: 25px;
    background-color: var(--heavylight);
    border: 25px;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-between;

}


.gallery{
    -ms-flex: 20%
    flex: 20%;
    max-width: 20%;
    position: relative;
    margin: 5px;
    z-index: 2;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .gallery {
        -ms-flex: 30%;
        flex: 30%;
        max-width: 30%;
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        flex: 45%;
        -ms-flex: 45%;
        max-width: 45%;
    }
}

.gallery-img {
    vertical-align: baseline;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 200px;
    border-radius: 11px;
    z-index: 1;

}

.gallery-img:hover{
    border: 3px solid var(--heavylight);
}

.fa-solid{
    position: absolute;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    color: var(--light);
    opacity: 0.35;
    margin-top: 25px;
    margin-left: 15px;
    z-index: 2;
}

.add-icon:hover {
    color: var(--heavylight);;
    opacity: 0.95;
}

.delete-icon:hover {
    color: var(--heavylight);;
    opacity: 0.95;
}

.btn {
    border: none;
}

.desc {
    size: 2pt;
    text-align: fit left;
    padding: 10px;
    color: var(--heavydark);
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-control {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 20vh;
    background-color: #CFB495;
    color: var(--heavylight);
    text-align: center;
}



.nav-btn {
    position: relative;
    padding: 40px;
    top: 5.5vh;
    color: var(--heavylight);;
    font-family: 'Sarabun', sans-serif;
    font-size: 2.5vw;
}


.form-container {
    position: relative;
    margin: 50px;
}

.btn-primary{
    margin: 15px 15px 15px 0px;
}

.control-label {
    padding-top: 15px;
    padding-bottom: 7px;
}

.flashes p {
    size: 12px;
    color: var(--heavydark);
}

.form-container {
    position: relative;
    background-color: var(--lightdark);
    margin:0;
    width: 100%;
}

.form-div {
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
