#introduction {
    position: relative;
    height: 20vw;
    min-height: 175px;
    color: #C06014;
    background-color: #B4A5A5;
    text-align: right;
    font-family: 'Sarabun', sans-serif;
}

#mainNav {
    padding-right: 20px;
    border-radius: 0 0 10px 10px;
}


.user-greeting {
    position: relative;
    text-align: right;
    padding-right: 5vw;
    color: #ECDBBA;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.5vw;
}

h1 {
    padding: 90px 5vw 10px 60px;
    font-family: 'Sarabun', sans-serif;
    font-size: 3.7vw;
    line-height: 2;
    font-weight: 500;
}

.navbar{
    z-index: 1;
    background-color: #ECDBBA;
    color: #C06014;
}

.nav-link {
    font-family: 'Sarabun', sans-serif;
    font-size: 1.2vw;
}

.navbar-brand {
    color: #C06014;
    padding: 20px 25px 25px 20px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 500;
}

#mainNav .navbar-nav > li.navbar-nav > a {
    color: #C06014;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 260px;
    border-radius: 10px;
}
.desc {
    size: 2pt;
    text-align: fit left;
    padding: 10px;
    color: #C06014;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.gallery{
    margin: 5px;
    float: left;
}

.gallery-img:hover{
    border: 3px solid #C06014;
}

div.gallery img{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 11px;
}

.gallery-container {
    padding: 25px;
    background-color: #ECDBBA;
    border: 25px;

    line-height:0;
   -webkit-column-count:4; /* split it into 5 columns */
   -webkit-column-gap:3px; /* give it a 5px gap between columns */
   -moz-column-count:4;
   -moz-column-gap:3px;
   column-count:4;
   column-gap:3px;
}

.gallery-nav {
    position: absolute;
    width: 100%;
    background-color: #B4A5A5;
    height: 125px;
    color: #C06014;
    text-align: center;
}

.nav-btn {
    position: relative;
    top: 38%;
    right: 1%;
    padding-left: 25px;
    padding-right: 25px;
    color: #C06014;
    font-family: 'Sarabun', sans-serif;
    font-size: 2.5vw;
}

.fa-solid{
    z-index: 3;
    position: absolute;
    padding: 5px;
    color: #ECDBBA;
    opacity: 0.35;
    margin-top: 10px;
    margin-left: 5px;
}

.add-icon:hover {
    color: #C06014;
    opacity: 0.95;
}

.delete-icon:hover {
    color: #C06014;
    opacity: 0.95;
}

.form-container {
    position: relative;
    margin: 50px;
}

.form-div {
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary{
    margin: 15px 15px 15px 0px;
}

.control-label {
    padding-top: 15px;
    padding-bottom: 7px;
}

.flashes p {
    size: 12px;
    color: #C06014;
}


