{% include 'header.html'%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General Gallery</title>
</head>
<body>
 <div class="gallery-container">
    {% for img in images[:pg_len]: %}
        <div class="gallery">
            {%if current_user.is_authenticated:%}
                <a class="btn" href="{{url_for('add', user_id=current_user.id, img_id=img.id)}}" onclick="alert('Added to gallery')">
                    <i class="fa-solid fa-square-plus fa-lg add-icon" > add</i></a>
                {% else: %}
                <a class="btn" href="{{url_for('register')}}">
                    <i class="fa-solid fa-square-plus fa-lg add-icon" >add</i></a>
                {%endif%}
            <a target="_blank" href="{{ img.img_url }}">
                <img class="gallery-img" src="{{img.img_url}}"  alt="{{img.id}}" >
            </a>
        <div class="desc">{{img.id}}</div>
        </div>
    {% endfor %}
 </div>

 <div class="page-control" style="background-image: url('https://images.unsplash.com/photo-1558158539-226f4a45f7b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1489&q=80')">
    <a class="button nav-btn" href="{{url_for('prev_gallery', img_id=images[pg_len-1].id)}}">< Back </a>
    <a class="button nav-btn" href="{{url_for('next_gallery', img_id=images[pg_len-1].id)}}"> Next ></a>
</div>
</body>
</html>