{% include 'header.html' %}
{% extends "page_base.html" %}
{% import "_macros.html" as macros %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device_width, initial-scale=1">
    <meta >

</head>
<body>

{% block page_content %}
<div class="gallery-container">
    {% for img in images: %}
        <div class="gallery">
            {%if current_user.is_authenticated:%}
            <a class="btn" href="" onclick="alert('Added to gallery')">
                <i class="fa-solid fa-square-plus fa-lg add-icon"></i>
            </a>
            {% else: %}
            <a class="btn" href="{{url_for('register')}}">
                <i class="fa-solid fa-square-plus fa-lg add-icon" ></i>
            </a>
            {%endif%}
            <a target="_blank" href="{{ img.img_url }}">
                <img class="gallery-img" src="{{img.img_url}}"  alt="{{img.id}}" >
            </a>
        <div class="desc">{{img.id}}</div>
        </div>
    {% endfor %}
</div>



<h1 class="mt-5">Pagination:</h1>
{{ macros.pagination_widget(pages, 'home') }}
{% for d in images %}
{{d}}<br>
{% endfor%}
{% endblock %}

</body>

