{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="form-container">
        <div class="form-div">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
</body>
</html>